<div class="form-alignment">
    <form [formGroup]="userForm" (ngSubmit)="onLogin(userForm.value)">
        <h3>User Login Form</h3>
        <div class="form-control" style="margin-bottom: 30px;">
          <label>Username</label>
          <input type="text" formControlName="username"/>
        </div>
        <div class="form-control" style="margin-bottom: 10px;">
          <label>Password</label>
          <input type="text" formControlName="password"/>
        </div>
        <div style="margin-bottom: 30px;">Are you new user? Please click <a routerLink="/register">here</a> to register.</div>
        <button type="submit" class="button-style">Login</button>
    </form>
</div>
